# Compiled output / Build
/dist
/tmp
/out-tsc
/bazel-out

# Node modules
/node_modules
npm-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Remove VS Code completely
.vscode/

# Angular / Angular CLI cache
/.angular/
.cache/

# Miscellaneous
.sass-cache/
.connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
