<!-- <h1>Funciona el HTML</h1>
<h2>{{ pokemon | uppercase}}</h2>
<h2>{{ pokemon | lowercase}}</h2> -->

<div class="card">
    <div class="card-inner">
        <div class="card-front">
            <img [src]="imagen" [alt]="'imagen de ' + pokemon" width="150px" />
        </div>
        <div class="card-back">
            <h1>{{ pokemon }}</h1>
            @for (hability of habilities; track $index){
            <p>{{ hability }}</p>
            }
            <button (click)="clickName.emit('botón clicado')">
                <span class="span-mother">
                    <span>+</span>
                    <span>I</span>
                    <span>n</span>
                    <span>f</span>
                    <span>o</span>
                </span>
                <span class="span-mother2">
                    <span>P</span>
                    <span>u</span>
                    <span>l</span>
                    <span>s</span>
                    <span>a</span>
                    <span>r</span>
                    <span>A</span>
                    <span>q</span>
                    <span>u</span>
                    <span>í</span>
                </span>
            </button>
        </div>
    </div>
</div>