:host {
  display: block;
  text-align: center;
  padding: 16px;
}

img {
  margin-bottom: 30px;
  max-width: min(400px, 90vw);
  height: auto;
  transition: transform 0.5s ease-in-out;
}

img:hover {
  transform: scale(1.1);
}
