@if (loading) {
  <app-loader />
} @else {
  <div class="pokemonInfo">
    <h2>{{ pokemonName | capitalize }} #{{ pokemon!.id }}</h2>

    <div id="pokeball" [class.open]="pokeballOpen">
      <img
        class="pokemonImg"
        [src]="pokemon!.sprites.front_default"
        [alt]="pokemonName ?? ''"
      />
      <div class="semicirculo-rojo"></div>
      <div class="semicirculo-blanco"></div>
      <div class="borde-negro"></div>
      <div class="circulo-central"></div>
    </div>

    @if (pokemon!.base_experience) {
      <p>Experience: {{ pokemon!.base_experience }}</p>
    }
    <p>Height: {{ pokemon!.height }} | Weight: {{ pokemon!.weight }}</p>

    <h2>Type:</h2>
    @for (type of pokemon!.types; track type.type.name) {
      <p>{{ type.type.name | capitalize }}</p>
    }

    <h2>Abilities:</h2>
    @for (ability of pokemon!.abilities; track ability.ability.name) {
      <p>{{ ability.ability.name | capitalize }}</p>
    }

    <button class="btn-back" (click)="goBack()">← Volver</button>
  </div>
}
