:host {
  display: block;
}

.pokemon {
  border: 10px solid #385ba9;
  border-radius: 20px;
  background-color: #ffcc01;
  width: 300px;
  margin: 0 auto;
}

.pokemon img {
  border: 5px solid #c8a102;
  border-radius: 20px;
  max-width: 50%;
}
