@if(loading){
<app-loader />
} @else {
<div class="pokemonInfo">
  <h2>{{ pokemonName + " #" + pokemon.id }}</h2>
  <div id="pokeball">
    <img
      class="pokemonImg"
      [src]="pokemon.sprites.front_default"
      alt="{{ pokemonName }}"
    />
    <div class="semicirculo-rojo"></div>
    <div class="semicirculo-blanco"></div>
    <div class="borde-negro"></div>
    <div class="circulo-central"></div>
  </div>

  <p>Experience: {{ pokemon.base_experience }}</p>
  <p>Height: {{ pokemon.height }} | Weight: {{ pokemon.weight }}</p>

  <h2>Type:</h2>
  <p *ngFor="let type of pokemon.types">
    {{ capitalizeFirstLetter(type.type.name) }}
  </p>
  <h2>Abilities:</h2>
  <p *ngFor="let ability of pokemon.abilities">
    {{ capitalizeFirstLetter(ability.ability.name) }}
  </p>
</div>
}
