<div class="card" (click)="onCardClick()">
  <div class="card-inner" [class.flipped]="isFlipped">
    <div class="card-front">
      <img [src]="imagen" [alt]="'imagen de ' + pokemon" />
    </div>
    <div class="card-back">
      <h1>{{ pokemon }}</h1>
      <button (click)="$event.stopPropagation(); clickName.emit(pokemon)">
        <span class="span-mother">
          <span>+</span>
          <span>I</span>
          <span>n</span>
          <span>f</span>
          <span>o</span>
        </span>
        <span class="span-mother2">
          <span>T</span>
          <span>a</span>
          <span>p</span>
          <span>H</span>
          <span>e</span>
          <span>r</span>
          <span>e</span>
        </span>
      </button>
    </div>
  </div>
</div>
